---
layout: case

date: 01-01-2017

order: 1

title: "BCG Onwards &amp; Upwards"
theme_color: 000
head1: Business Growth in a
head2: "Changing World"
summary: "With a track record for helping businesses expand, The Boston Consulting Group wanted emphasize their perspective on business growth."
role: "I designed the video ad for BCG's Onwards & Upwards initiative. Working closely with design director Steve Haslip, I developed style frames, storyboards, and animatics to communicate design decisions to the client. Hired later as a freelancer, I animated & delivered the final video."
learned: "Advise the client as best you can towards good design decisions."

---

<div class="bg-fill" style="background-color: #000">
<section>
<div class='embed-container big-video' style="padding-bottom: 56.25%; margin-bottom:0"> <!--DEFAULT 56.25 -->
  <iframe src='https://player.vimeo.com/video/201945068?title=0&byline=0&portrait=0' width="1920" height="1080" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
</section>


<div class="frame-block">
  <div class="row1">
    <%= image_tag "final-1.jpg", :class => "size7" %>
    <%= image_tag "final-2.jpg", :class => "size5" %>
  </div>
  <div class="row2">
    <%= image_tag "final-3.jpg", :class => "size6" %>
    <%= image_tag "final-4.jpg", :class => "size6" %>
  </div>
  <div class="row3">
    <%= image_tag "final-5.jpg", :class => "size7" %>
    <%= image_tag "final-6.jpg", :class => "size5" %>
  </div>
</div>
</div>

<section>

<h5>The Challenge</h5>
<h3>What does &ldquo;business growth&rdquo; mean?</h3>
<p>The ad campaign was part of a larger initiative developed by the Carbone Smolan Agency for BCG called Onwards & Upwards. Leveraging content from their TED@BCG video series, Onwards & Upwards championed BCG's perspective on fostering growth in a rapidly changing world. The project consisted of a microsite featuring original content by BCG and the video ad campaign.</p>
<p class="emph">CSA brought me on to develop the post-roll video ad that would air on TED.com.</p>



<h6>But what is business growth?</h6>
<p>Admittedly, I had never heard of BCG before and, after being briefed, only had a vague understanding of what they did. While our copywriter Brittney worked on the first drafts of the script, I examined some of BCG's videos and written content to better understand the vision of the project.</p>
</section>

<section>
<h5>The Approach</h5>
<h3>An essential force of nature</h3>
<p>BCG's writings covered a diverse range of topics from pharmaceuticals to the booming tech industry. The one connection they all had was the innate nature of growth.</p>

<p class="emph blockquote">&ldquo;Growth is an irreplaceable source of value creation for business and society.&rdquo;</p>

<!--<br><small><i>&mdash;BCG Onwards &amp; Upwards</i></small>-->

<p>BCG's writings covered a diverse range of topics from pharmaceuticals to the booming tech industry. The one connection they all had was the innate nature of growth.</p>


<div class="img-caption-L">
  <%= image_tag "form.png"%>
  <p class="caption"><b>Distributing a short survey</b> helped me determine which metrics people valued most.</p>
</div>

<div class="img-caption-R">
  <%= image_tag "metrics.png"%>
  <p class="caption"><b>I settled on four key data points:</b> temperature, humidity, precipitation and cloud cover. Together, these metrics reflect weather conditions without adding unnecessary complexity to the system. I later added time of day to make the generated compositions more dynamic.</p>
</div>

<h5>The Approach</h5>
<h3>Showing how it feels</h3>
<p>Images and visual inputs have a much closer relationship to the visceral. Seeing an ad for the local pool on a hot summer day automatically incites sensations of ....</p>

</section>
