---
firstone: true

layout: case

pathname: onwards

date: 01-01-2017

order: 1

title: "BCG Onwards &amp; Upwards"
head: "In Pursuit of Growth"
summary: "The Boston Consulting Group partners with TED every year for their TED@BCG speaker series. Working closely with design director Steve Haslip at Carbone Smolan Agency, I concepted and animated a video ad for 2016's event, Onwards & Upwards."

---

<div class="padded-bg black-bg">
<section>
<div class='embed-container big-video' style="padding-bottom: 56.25%; margin-bottom:0"> <!--DEFAULT 56.25 -->
  <iframe src='https://player.vimeo.com/video/201945068?title=0&byline=0&portrait=0' width="1920" height="1080" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
</section>

<section>
<div class="frame-block">
  <div class="row1">
    <%= image_tag "final-1.jpg", :class => "size5" %>
    <%= image_tag "final-2.jpg", :class => "size7" %>
  </div>
 <div class="row3">
    <%= image_tag "final-4.jpg", :class => "size5" %>
    <%= image_tag "final-3.jpg", :class => "size7" %>
  </div>
  <div class="row1">
    <%= image_tag "final-6.jpg", :class => "size5" %>
    <%= image_tag "final-5.jpg", :class => "size7" %>
  </div>
</div>
</section>
</div>

<div class="split">
<h3>Background</h3>
</div>

<section>
<h2>Maintaining Brand Consistency</h2>
<p style="margin-bottom: 0">BCG uses the TED@BCG event to curate their thought leadership on particular topics. The focus of 2016 was their perspective on growing businesses in a rapidly changing world.</p>

<h5>The video had to:</h5>
<ol>
  <li>Feel similar to its sister video</li>
  <li>Use the existing design elements</li>
  <li>End on the Onwards & Upwards title lockup</li>
</ol>
</section>

<section>
  <div class="img-caption-L">
    <div class="contents six">
      <%= image_tag "bcg-content.png"%>
      <p class="credits">Some of BCG's thought leadership from the <a href="https://www.bcgperspectives.com/onwards-upwards-growth/">Onwards &amp; Upwards microsite</a>.</p>
    </div>
    <div class="caption">
      <h5>But what is business growth?</h5>
      <p>Admittedly, I had never heard of BCG before and only had a vague understanding of what they did. While our copywriter Brittney worked on the first drafts of the script, I examined some of BCG's content to better understand the vision of the project.</p>
    </div>
  </div>
</section>

<div class="split white-bg">
<h3>The Approach</h3>
</div>

<div class="white-bg">
<section>
<h2>Blending nature and industry</h2>
<p>BCG's writings covered a diverse range of topics, but they all emphasized the connection between business growth and growth in nature. Three core principles of growth manifested:</p>

<p class="emph">Growth is natural.</p>

<p class="emph left">Growth is constant motion.</p>

<p class="emph">Growth is omnipresent.</p>

<p>These core ideas informed all of our decisions going forward. From the footage choices to the every detail of the motion, <b>everything needed to have flow.</b></p>
</section>
</div>


<div class="split">
<h3>The Process</h3>
</div>

  <section>
    <h2>Blending nature and industry</h2>
  <div class="img-caption-R">
    <div class="contents six">
      <%= image_tag "orig-assets.jpg"%>
      <p class="credits">The original visual assets designed for the microsite.</p>
    </div>
    <div class="caption">
      <h5>Expanding the Initial System</h5>
    <p>The video needed to reflect the imagery already used in the microsite. Steve and I worked together to expand the original artwork into a system capable of holding the viewer's interest.</p>
    </div>
  </div>
  </section>


<section class="megagrid">
<%= image_tag "concepts-01.jpg"%>
<%= image_tag "concepts-02.jpg"%>
<%= image_tag "concepts-03.jpg"%>
<%= image_tag "concepts-04.jpg"%>
<%= image_tag "concepts-05.jpg"%>

<h5>Choosing a Direction</h5>
<p>Instead of pitching defined concepts, we presented a variety of styleframes to the team at BCG. From their selections, we were able to develop a consistent but varied visual system.</p>
</section>

<div class="">
  <section>
  <div class="img-caption-R">
    <div class="contents six">
      <%= image_tag "storyboards.jpg"%>
    </div>
    <div class="caption">
    <h5>Accounting for Every Second</h5>
    <p>I developed wireframes for every second of video to communicate the concept.</p>

    <p>Key moments were rendered in higher fidelity to give a better picture of the video's progression.</p>
    </div>
  </div>
  </section>
</div>
