---
last: true

layout: case

pathname: mica

date: 01-01-2017

order: 1


title: '2016 MICA Holiday Card'

head: Happy New Year, from the place creativity calls home.

summary: "MICA&rsquo;s administration wanted a video holiday card to send to donors, alumni and peer institutions. I engaged the community to generate a script and leveraged a new visual identity to position MICA as a leader of creativity and innovation."

role: Working with MICA's V.P. of Strategic Communications, Debra Rubino, I produced two concepts for MICA's video holiday card. I crowd-sourced the script, worked with MICA's new identity guidelines and presented two final concepts to the school's president.

learned: optimize code for performance...

---

<div class="black-bg padded-bg">
<section>
<div class='embed-container big-video' style="padding-bottom: 56.25%; margin-bottom:0"> <!--DEFAULT 56.25 -->
  <iframe src='https://player.vimeo.com/video/194844228?title=0&byline=0&portrait=0' width="1920" height="1080" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
</section>

<section>
<div class="frame-block">
  <div class="row1">
    <%= image_tag "final1.jpg", :class => "size7" %>
    <%= image_tag "final2.jpg", :class => "size5" %>
  </div>
 <div class="row3">
    <%= image_tag "final5.jpg", :class => "size7" %>
    <%= image_tag "final3.jpg", :class => "size5" %>
  </div>
</div>
</section>
</div>

<div class="split">
  <h3>The First Meeting</h3>
</div>

<section>
<h2>Establishing the Video&rsquo;s Goal</h2>
<p>Given my experience with motion graphics, I was one of several students recommended for the project. During our first meeting, Debra and I defined the video's overall goal:</p>

<p class="emph">Position MICA as a leader in driving innovation through art and creativity.</p>

<p>With a new design center being constructed and other innovation-centered initiatives, MICA was gearing up to prepare artists for the 21st century. Beyond a simple holiday greeting, the video needed to convey MICA's commitment to shaping the next generation of creative thinkers.</p>
</section>


<div class="split white-bg">
  <h3>The Approach</h3>
</div>

<div class="white-bg">
<section>
<h2>Diversity &amp; Dynamism</h2>
<p>Given my experience with motion graphics, I was one of several students recommended for the project. During our first meeting, Debra and I defined the video's overall goal:</p>
</section>

<section>
<div class="img-caption-R">
  <div class="contents">
    <%= image_tag "indexplaceholder.jpg"%>
  </div>
  <div class="caption">
    <h5>Activating a Diverse Community</h5>
    <p>To make the selection of words more specific to MICA, I engaged the community in curating the list. Armed with a set of cards each containing a word, I asked students and faculty to select those they thought represented MICA.</p>
  </div>
</div>
</section>

<section>
  <p>Given my experience with motion graphics, I was one of several students recommended for the project. During our first meeting, Debra and I defined the video's overall goal:</p>
</section>
</div>


<div class="split">
  <h3>The Process</h3>
</div>

<section>
<h2>New Year, New Branding</h2>
<%= image_tag "guidelines.png"%>
<p class="credits">From the MICA identity standards, designed by Pentagram.</p>
<p>MICA had just recently refreshed their identity. The new system featured updated typefaces, vivid colors and fresh image styles. </p>
</section>
