---
noprev: true

nextpage: about


title: Projects
layout: default
---


<!--<hr class="topline">-->

<section class="brief">
  <h1><span>All Projects</span> &amp; Web Experiments</h1>

</section>

<section class="case-thumbs">
  <div class="proj-row">
    <div class="project3">
      <a href="#"><%= image_tag "screenshot.jpg" %></a>
      <p>Metereol: A Typographic Weather Visualizer <span>&mdash; generative, experimental</span></p>
    </div>
    <div class="project8">
      <a href="#"><%= image_tag "screenshot.jpg" %></a>
      <p>Metereol: A Typographic Weather Visualizer <span>&mdash; generative, experimental</span></p>
    </div>
  </div>
  <div class="proj-row">
    <div class="project6">
      <a href="#"><%= image_tag "screenshot.jpg" %></a>
      <p>Metereol: A Typographic Weather Visualizer <span>&mdash; generative, experimental</span></p>
    </div>
    <div class="project4">
      <a href="#"><%= image_tag "screenshot.jpg" %></a>
      <p>Metereol: A Typographic Weather Visualizer <span>&mdash; generative, experimental</span></p>
    </div>
  </div>
  <div class="proj-row">
    <div class="project5">
      <a href="#"><%= image_tag "screenshot.jpg" %></a>
      <p>Metereol: A Typographic Weather Visualizer <span>&mdash; generative, experimental</span></p>
    </div>
  </div>
</section>

<section>
  <h2 id="experiments" class="inner-link">Web Experiments</h2>
  <div class="proj-row">
    <div class="project3">
      <a href="#"><%= image_tag "screenshot.jpg" %></a>
      <p>Metereol: A Typographic Weather Visualizer <span>&mdash; generative, experimental</span></p>
    </div>
    <div class="project3">
      <a href="#"><%= image_tag "screenshot.jpg" %></a>
      <p>Metereol: A Typographic Weather Visualizer <span>&mdash; generative, experimental</span></p>
    </div>
    <div class="project3">
      <a href="#"><%= image_tag "screenshot.jpg" %></a>
      <p>Metereol: A Typographic Weather Visualizer <span>&mdash; generative, experimental</span></p>
    </div>
  </div>
</section>
