---
title: Projects
layout: default
---


<!--<hr class="topline">-->

<section class="intro">
  <h1>The Work</h1>



</section>

<!--<section class="projs">
    <a href="#"><h2>Making weather data visual with code<small class="subtext">Metereol: A Typographic Weather Visualizer</small></h2>
    <%= image_tag "test-th.jpg" %></a>

    <a href="#"><h2>Helping an art college say happy new year.<small class="subtext">Metereol: A Typographic Weather Visualizer</small></h2>
    <%= image_tag "test-th.jpg" %></a>

    <a href="#"><h2>Developing a generative illustration system<small class="subtext">Metereol: A Typographic Weather Visualizer</small></h2>
    <%= image_tag "test-th.jpg" %></a>

    <a href="#"><h2>Making weather data visual with code<small class="subtext">Metereol: A Typographic Weather Visualizer</small></h2>
    <%= image_tag "test-th.jpg" %></a>

    <a href="#"><h2>Helping an art college say happy new year.<small class="subtext">Metereol: A Typographic Weather Visualizer</small></h2>
    <%= image_tag "test-th.jpg" %></a>

    <a href="#"><h2>Developing a generative illustration system<small class="subtext">Metereol: A Typographic Weather Visualizer</small></h2>
    <%= image_tag "test-th.jpg" %></a>
</section>-->

<section class="projsv2">
  <div class="project">
    <a href="#"><%= image_tag "screenshot.jpg" %></a>
    <h6>Metereol: A Typographic Weather Visualizer</h6>
    <small>generative, experimental</small>
  </div>
  <div class="project">
    <a href="#"><%= image_tag "test-th.jpg" %></a>
    <h6>2016 MICA Holiday Card</h6>
    <small>motion graphics</small>
  </div>
  <div class="project">
    <a href="#"><%= image_tag "ou.jpg" %></a>
    <h6>Test Project Headline</h6>
    <small>generative, motion graphics</small>
  </div>
  <div class="project">
    <a href="#"><%= image_tag "dwc.jpg" %></a>
    <h6>Test Project Headline</h6>
    <small>generative, motion graphics</small>
  </div>
</section>
